<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sahil.hackathon.com.realhack" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.LOGIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Property">
            <intent-filter>
                <action android:name="android.intent.action.PROPERTY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".LocationSelector">
            <intent-filter>
                <action android:name="android.intent.action.LOCATIONSELECTOR" />
                
                <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
        </activity>
    </application>

    <activity android:name=".PropertyList">
        <intent-filter>
            <action android:name="android.intent.action.PROPERTYLIST" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    <activity android:name=".Compare">
        <intent-filter>
            <action android:name="android.intent.action.COMPARE" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    <uses-permission android:name="android.permission.internet"/>
    <uses-permission android:name="android.permission.access_coarse_location"/>
    <uses-permission android:name="android.permission.access_fine_location"/>
    <uses-permission android:name="android.permission.location_hardware"/>


</manifest>
